<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			 I am a Computer geek with passion to learn new Technologies.
			 I don't believe in spending lot of manual efforts I'm an innovative guy and I look to simplify my task by automating the routine works as simple as possible.
			 The hunger for learning is what pushes me up to learn more about different technologies and the passion I have on it makes my tasks easier and teaches me how to survive in this competitive world.
		</div>
		<br>
	</div>
</div>